@tailwind base;
@tailwind components;
@tailwind utilities;

body {
}
::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
}

::-webkit-scrollbar-thumb {
  background-color: #ed6955;
}

::-webkit-scrollbar-thumb:hover {
  background: #ff8674;

}
